Source: obs-studio
Section: unknown
Priority: optional
Maintainer: 8Mi_Yile <admin@8mi.tech>
Build-Depends: debhelper (>= 11)
Standards-Version: 29.0.2
Homepage: https://github.com/deepin-community/obs-studio
Package: obs-studio
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OBS Studio - Free and open source software for live streaming and screen recording
